       <div class="main">
        
        <div class="dwnCard">
          <img src="/./img/van.png" class="van">
          <p class="poppinsText text-center" style="color: #444;"><b>TRANSPORTES</b></p>
          <ul class="poppinsText">
            <li>
              <span>Metrorrey</span> <strong>Gratis</strong>
            </li>
            <li>
              <span>Ruta Integrada</span> <strong>Gratis</strong>
            </li>
            <li>
              <span>Muevo León</span> <strong>Gratis</strong>
            </li>
          </ul>
          <a href="https://github.com/bornredjames/Testing/releases/download/Si/com.miruta.mty.v3.0.3_antisplit_sign.apk" class="poppinsLabel dwnlBtn">DESCARGAR</a>
        </div>
        
        <div class="bar">
          <div class="lSide">
            <p><b>Deja un comentario c:</b></p>
          </div>
          <div class="rSide">
            <a href="#newComment" style="text-decoration: none; color: #fff;"><i class="bi bi-chat-heart"></i></a>
          </div>
        </div>
        
        <div class="infoDiv">
          
          <div class="instrucciones infoCard">
            <h6><b>Instrucciones:</b></h6>
            <ul class="poppinsText">
              <li>Cierra sesión en urbani en caso de tener sesión activa.</li>
              <li>Desinstala la app oficial.</li>
              <li><a href="https://sistema.logisi.com/sistema/facturas/com.miruta.mty v2.2.20.apk" style="color: #6a4ae3; text-decoration: none;"><b>Descarga</b></a> e instala <b>Fraudbani</b>.</li>
              <li>Inicia sesión en tu cuenta.</li>
            </ul>
          </div>
          
          <br>
          
          <div class="recomendaciones infoCard">
            <h6><b>Recomendaciones:</b></h6>
            <ul class="poppinsText">
              <li>Ir a <b>Perfil</b> < <b>Cerrar sesión</b> antes de desinstalar la app original.</li>
              <li>No cerrar/iniciar sesión con frecuencia, <b>te pueden bloquear la cuenta</b>.</li>
            </ul>
          </div>
          
          <br>
          
          <div class="funciones infoCard">
            <h6><b>Funciones:</b></h6>
            <ul class="poppinsText">
              <li>Saldo congelado en <b>$300</b> basta con <b>Entrar/Salir</b> de la app para que se restablezca.</li>
              <!--<li>Envía urbicoins a cualquier número registrado en urbani <b>(En la sección enviar saldo)</b> una vez puesto el número en cantidad elige <b>$5</b> esto llenará los urbicoins de la persona elegida.</li>-->
            </ul>
          </div>

        </div>
        
     
        <br>
                <div class="commentsDiv">
          <br>
          <h6 class="text-center poppinsLabel">Califica y deja un comentario (opcional)</h6>
                    <div class="newComment" id="newComment">
<form class="commentForm" action="/comment" method="POST" enctype="multipart/form-data">
<br>
<div class="commentData">
  <label for="file" class="file-btn">
                  <div class="edit">
                    <i class="bi bi-pencil-square"></i>
                  </div>
              <img class="imgPrev" src="/./img/avatar.png">
  </label>
<input type="file" id="file" name="file" accept="image/*" hidden>

  <input class="name" type="text" name="name" placeholder="Nombre (opcional)" required>
</div>

<br>
  
  <textarea class="comentario" name="comment" placeholder="Comentario" style="margin-top: 20px;"></textarea>

  <br>

  <div class="rating" id="rating">
    <i class="bi bi-star" data-value="1"></i>
    <i class="bi bi-star" data-value="2"></i>
    <i class="bi bi-star" data-value="3"></i>
    <i class="bi bi-star" data-value="4"></i>
    <i class="bi bi-star" data-value="5"></i>
  </div>

  <input class="ratingInpt" type="hidden" name="rating" id="rating-value" required>

  <br>

  <button class="sendCommentBtn" type="submit"><b>Enviar</b></button>
  
</form>
          </div>
          
          <br>
<h2 class="poppinsBalance" style="padding: 0 20px;"><i class="bi bi-star-fill" style="color: #000;"></i> {{avgRating}} / 5</h2>
<br>

<div class="viewComments">

  {{#each commentsPreview}}
    <div class="comment " style="padding: 15px;">
      <img src="{{this.photo}}" width="50" style="aspect-ratio:1/1;border-radius:50%;object-fit:cover;">
      <strong class="" style="padding: 10px;">
        {{this.name}}
        {{{devBadge this.itsAFraudbaniDev}}}
        </strong>
        <small>{{timeAgo this.createdAt}}</small>
      <p class="" style="padding: 10px;">{{this.comment}}</p>
      <span class="poppinsBalance" style="padding: 10px;"><i class="bi bi-star-fill"></i> {{this.rating}}</span>
    </div>
    <br>
  {{/each}}

  {{#if commentsAll.length}}
    <a id="showAllBtn" class="sendCommentBtn poppinsLabel" style="display: block; border: none; background: none; color: #a07cfa; text-align: center; text-decoration: none;">Mostrar todos los comentarios</a>
  {{/if}}
</div>

<div class="allComments" id="allComments" style="display:none">
  {{#each commentsAll}}
    <div class="comment" style="padding: 15px;">
      <img src="{{this.photo}}" width="50" style="aspect-ratio:1/1;border-radius:50%;object-fit:cover;">
      <strong style="padding: 10px;">
        {{this.name}}
        {{{devBadge this.itsAFraudbaniDev}}}
      </strong>
      <small>{{timeAgo this.createdAt}}</small>
      <p style="padding: 10px;">{{this.comment}}</p>
      <span class="poppinsBalance" style="padding: 10px;"><i class="bi bi-star-fill"></i> {{this.rating}}</span>
    </div>
    <br>
  {{/each}}
</div>
          
        </div>
        
      </div>
      
      <div class="mainPC">
        <h1>¡NO disponible en PC! :c</h1>
      </div>