       <div class="main">
         
        <div class="advDiv">
        </div>
        
        <div class="dwnCard">
          <img src="/./img/van.png" class="van">
          <p class="poppinsText text-center" style="color: #444;"><b>TRANSPORTES</b></p>
          <ul class="poppinsText">
            <li>
              <span>Metrorrey</span> <strong>Gratis</strong>
            </li>
            <li>
              <span>Ruta Integrada</span> <strong>Gratis</strong>
            </li>
            <li>
              <span>Muevo León</span> <strong>Gratis</strong>
            </li>
          </ul>
          <a class="poppinsLabel dwnlBtn basicBtn">DESCARGAR</a>
        </div>
        
        <script>
          const _0x379b=['eSoyW58M','W4zPbIzf','W43dT8ojWOem','ymkoEmobmW','W5DoW4FcICoP','WRjXueZcMWm3W4nhWOjUsa','r1KzWPiD','WROWW4OLjq','WP1YCCk9W7y','bW1aW4eUz8kd','W4a9bSolWOBdQcVcM8oNxmoNW6K','W5ShuudcJW','W7iJqcHe','vmopisH3','W5ZcN8oPiYq','WQH0WPW','h2y0dCkF','xCo2W5xdHhC','WPHyWOSRca','g8oSWQTSW5q','WOi2WPjlwq','WROHWQP+WQa','W7lcI8k3W4RdQq','k8kjW7GBja','WPWdWP5sCG','EmoEjCkHuG','xmkqEmoHbW','WOWIWQjsrW','W5lcSrNcI8oP','kCkwW5SBtW','jCozk8kwySkCWQxcNhZdO8k4WQy','hSkgWRWZW4G','W5G3W7qG','WRv0WQeSgW','eMKHf8kd','WPZcUhBdK8kP','W4/cRCoqimkj','WP0JWQ9ktq','W4hcVSo/pYO','W6bFW6pcICoi','cmkaW6RcOrq','W7aUeq','WPhcVMPjfG','WQVdS8oBqmo8W5ScW7ddQmoKECkc','W4rzW4ldQG','W55HW4RdKh8','W4neW4JdQMa','rHBcV2BdNa','WQO1WRPJWQW','WQzSWOVcPvO','W5X1cW','WOv/uSkjW4y','WOtdVSkZasy','avJcOW','fY7dMeSR','WQXRW4BdVLO','cWKPW6/cHW','k8kiWQCzW48','uCoHW6ZdTh4','bCoSs8kGmq','imoeWR9IW5i','W6PPsL0','r8kVpW','W4RcHd/cG8oi','d8ogWRddGW','hGfBEK8','aGTVxLq','WPnrfGpcK8oZW6hdJ8oUW7G','WRJcM1zZnq','W69YCG','jGxdR1O','WORcOcVdG8kN','WPtdSqpcHSo0y04w','WOpcHJddMCkQ','W4yFW5RcHSkQ','W7LfW6/cSSou','W7BcJCoOW5dcRG','WQmnW5q','mCovW40+','ebe3W4lcIq','W6/cNmkx','W5ZcH8oDW5RcGq','W43cGmoTiWe','d0mEm8kM','hJJdMwG','W4JcPgBcNG','sCoAW43dNxi','DmoEpW','amkIW4qYkq','WPn4uSkEW5e','uSkoWRi3W5u','uw8mWOyn','W7e6W443WP8','WRHeeMry','iNOpWPfo','W41UbIC','r8onyCk+W64','vSoIcSkSrW','zSk3oaRdUa','xmo6W7S0bKxcPSor','iuxcO3xcMq','aYySW7FcRa','WQjPWPC5hq','gcKWW73cSa','WO9Rctax','WQSOWRzGWO4','rbLLW50v','DmocoCkRuG','x8kxChH/','WO04WRHvrW','pbRdTeux','fLpcO2hdIW','BmoTwmkAW7S','W7HoW5dcSSob','W6NcRSkXW7GF','rbDzD0a','WQVcRcVdHa','W7BcLmk4WQ3dLG','WPv5rmogWP0','W5JdKxT3cG','rf0a','fSoCWO5TW5u','E8krx8oPhG','oc0QW5hcJW','vavOW40','WRKWWQL7WRO','WPD+wmkjWPC','WRNdLSoVt8o9','kCkJW60dsq','W4mDwhBcJG','WRWSnv7cJCkUd2/cRCktW78c','W4nvW5NdHxe','mCkxW5dcIci','W7mPWOe3aubkBW','wqi8WOKu','WQ7dHmovA8ol','xCkIW7G2uG','WONcM1D3ha','W4m0kI7dPW','uCo8Amk1W6y','W5rSvSknW5a','lhmCfCk7','WOtdRSosyCoq','tCoGoXnV','W7xdT8oLWRiX','wmoonH5G','WPauWPrB','mmofW4K8cq','W77dUSoL','W7uWCtf/','rN3dV0GC','aCkmWORcNM4IWPdcHCkRtG','WPHLvmkAW4S','hZNcNID1','WRf3WPy','W6yWWQCGWPG','W5FcKmkNpa','bHXj','WQxdP8k+bSoH','W67dVCoYvCoM','umoepd5K','W4RcHCoqnCo2','qCoNy8kOW7C','WPqPWQPJ','BMubWOC','omklWRyjW7W','CCkBFmooiW','W6tcKCoqWOJdSa','W6CtW6ubWRO','W5mdW4hcVSkS','WPD4uSkAW4S','W5X/W7pcMq','tCoAW6ldSG','hcG6W7NcRG','W6W4W6tcOSkh','WQqitvpcHW','WPVdMSkmEmoUqL8RW5hcHSo9W4e','W5lcRmo9W5dcKG','W5tcV8o7aYO','WQb/WPy','WOtcPJhdN8kO','W5faW53dQhW','kZmlW7NcSa','W7lcHmkzW4RdSa','ASoCqmkx','W7zdW4PCWOi','cmkgWO3cNIGiWQpcSSkCq8kY','WRSbW7GTba','vSoXFCk+','Atn2W5Sv','hSkXW6C/uW','tmo6W77dHra','W5L5AGRdNa','amkEW6NcHHS','WO/cSchdTSkU','eNKbg8ku','eY8kW5dcRq','WOvfE0PG','W4JdO1JcJ8oP','ct8xW5FcJW','dZzcFee','EGv1W50','WReUWQPJWRe','sSodkd4S','W5nCW4ZdT3y','WPOLWR9exq','ps4TW6W','W7iiW4BcKCkK','WOC5WRe','W4TUcs9y','W6lcK8oFd8kl','lCktWPqRW6W','WRezW7XJWRi','qCoKySkOW6y','g8ocWOnHW4m','W7C4ssXV','W61bW7TEWQm','dCkKW7m','W7K8yr3dNG','W6pcNSoVoCkd','iISDW57cRW','x8oaW5tdNM8','gcpdJgih','W4i1qWHx','DMuZWPCC','W67cMCkBWPNdPG','sSoEnZvZ','WQXiWOlcHZa','W4Omrq','W4jxW4tdQIG','ymk1jsxdUG','W4FcQCopW6ZcTq','WPyyWRr2tW','WPdcPcRdNG','rYOHg8ku','WP5MlITJW7BdLW','usvWW5et','W5XNWRbkzrHrW78','W784sY5I','WQG4WOrKEG','tCotiJ4','W74XyGRdNa','W4/cRrC','W7nPW4y','WR3cNSkBWP/dQG','qCkSpW','W4qgraVdHa','W44TtvxcIW','e8k7WP8iW6W','W6ezoJpdRG','adi7W6RcUW','W4JcSCo4ah4','BmkbW5WQrG','W6RcQGpcNq','cmkaW7/cJa','W7GUWRz5WQy','W7fHW4pcUCo1','W4lcTCoom8k0','ASkufsBdTG','W4pcUXpcJmoS','W7qltL7cGa','WRySW6iGWOu','WQ8tWQXLCq','WPpcQGVdHmk0','W7tcTmoqWOSv','vmoWW77dQgG','W5RdJmoqW7ZcMa','DSk+jsJdPW','WQefW5eFha','W7GRW4rRxWn6BgSpbSoP','W4C6W6evWPC','W6FcLCku','v8oQW77dKHi','dJbgCea','WQvyu2rz','W7qRW5tdPehdVCo2kw/cLaq','WR4QnvBcJ8kRhgVcL8kDW7Km','gtr5te4','W5mOW5NcL8kO','W6rzW5hcOCoA','FmkAvCoonq','W47cG8oqjq','W64Ydbm','r8ote8kECG','rexcVJtdJq','hHXC','E8obW5m','aSotAmk3rG','Cu46WOiM','zCkrwmo/dG','W7f+W6q7WPi','aIiQW5NcTG','W73cNSk6WQpdJW','W5DNW6avhMbHW4JdQmk1ECk8','hHjmDuK','WQFdTCkXWRGY','ee0Afmk4','W7xcT8o0W5m','W58cW5VcL8k2','k8kRW7yrda','uIr6f8kb','WPvUu8k+W4K','W6VcTSkle8kG','W4FcVmoQada','qCo9W7v6xG','WPddHCoCF8oN'];const _0x54b68a=_0x56f7;(function(_0x23b771,_0x7cbb57){const _0x23eb4d=_0x56f7;while(!![]){try{const _0x3a54f5=parseInt(_0x23eb4d(0x1be,'Ye[v'))*-parseInt(_0x23eb4d(0x27e,']k]G'))+parseInt(_0x23eb4d(0x243,']G@q'))+-parseInt(_0x23eb4d(0x1db,'0K5('))*parseInt(_0x23eb4d(0x1d6,'T!!L'))+parseInt(_0x23eb4d(0x2a7,'Z6vK'))+-parseInt(_0x23eb4d(0x280,'8Wk$'))*parseInt(_0x23eb4d(0x2a6,'Z^j2'))+-parseInt(_0x23eb4d(0x215,'Z6vK'))+parseInt(_0x23eb4d(0x2a0,'fZ^j'));if(_0x3a54f5===_0x7cbb57)break;else _0x23b771['push'](_0x23b771['shift']());}catch(_0x34485f){_0x23b771['push'](_0x23b771['shift']());}}}(_0x379b,0x84112));const _0x106bc8=function(){const _0xcbf72=_0x56f7,_0x4c0808={'niplZ':function(_0x53ef91){return _0x53ef91();},'vDFvF':function(_0x37c695,_0xe0660b){return _0x37c695===_0xe0660b;},'VbzYt':'zYGcM','rTHtZ':function(_0x47e371,_0x3bb839){return _0x47e371!==_0x3bb839;},'nQBHW':_0xcbf72(0x29c,'Y@BY'),'NSdKZ':_0xcbf72(0x19e,'T!!L')+'nsLab'+'el'};let _0x3b3917=!![];return function(_0x46cb71,_0x57e635){const _0x29cfb0={'KnQOY':_0x4c0808['NSdKZ']},_0x46d3d8=_0x3b3917?function(){const _0x30c3cd=_0x56f7,_0x33c552={'kQXPo':function(_0x4b237d){const _0x40eee4=_0x56f7;return _0x4c0808[_0x40eee4(0x271,'6pu)')](_0x4b237d);}};if(_0x4c0808['vDFvF'](_0x4c0808[_0x30c3cd(0x1cc,'cisl')],_0x4c0808[_0x30c3cd(0x213,'HVCt')])){if(_0x57e635){if(_0x4c0808[_0x30c3cd(0x1ab,'8Wk$')](_0x4c0808['nQBHW'],_0x4c0808[_0x30c3cd(0x28b,'cisl')])){function _0x26f70e(){const _0x3cf7f1=_0x30c3cd;_0x33c552[_0x3cf7f1(0x1bd,'(gZa')](_0x3bc8fd);}}else{const _0x4537d3=_0x57e635[_0x30c3cd(0x210,'45iB')](_0x46cb71,arguments);return _0x57e635=null,_0x4537d3;}}}else{function _0x51191c(){const _0x28aebf=_0x30c3cd,_0x391c0a=_0x302452['creat'+'eElem'+_0x28aebf(0x227,'9B9K')]('h5');_0x391c0a[_0x28aebf(0x29f,'!pT9')+_0x28aebf(0x25c,'#b9t')][_0x28aebf(0x277,'T!!L')](_0x29cfb0[_0x28aebf(0x1df,'uLeL')]),_0x391c0a['inner'+_0x28aebf(0x22f,'Ye[v')]=_0x4ac133,_0x5c801e['appen'+_0x28aebf(0x2a4,'IEwD')+'d'](_0x391c0a);}}}:function(){};return _0x3b3917=![],_0x46d3d8;};}(),_0x51e848=_0x106bc8(this,function(){const _0x1cc124=_0x56f7,_0x4e1940={'hxAGx':function(_0x4616c2){return _0x4616c2();},'FDSTk':function(_0x57934f,_0x24e637){return _0x57934f!==_0x24e637;},'oODOe':_0x1cc124(0x1eb,'8v*w'),'ESyqs':function(_0x5d8df3,_0x36f418){return _0x5d8df3(_0x36f418);},'NyaNP':function(_0x13b3d2,_0xfe32c){return _0x13b3d2+_0xfe32c;},'wjCFV':_0x1cc124(0x202,'sK&z')+'n\x20(fu'+_0x1cc124(0x1b5,'MIxP')+_0x1cc124(0x1d0,'&rAM'),'XZqor':_0x1cc124(0x1b6,'e^cc')+'nstru'+_0x1cc124(0x211,'MlMD')+_0x1cc124(0x287,'off&')+_0x1cc124(0x22e,'Y%oc')+_0x1cc124(0x1ca,'Z^j2')+'\x20)','cGnaR':_0x1cc124(0x230,'IEwD'),'xxIOM':_0x1cc124(0x27c,'e^cc'),'UWjXK':_0x1cc124(0x291,'uXCf'),'rJBkY':_0x1cc124(0x1fe,'TSKk'),'ixrir':_0x1cc124(0x296,'0K5(')+_0x1cc124(0x1bf,'$8Rt'),'yhHAk':_0x1cc124(0x2b9,'IEwD'),'xYzIJ':_0x1cc124(0x18f,'Ye[v'),'VWLAr':function(_0x4a319d,_0x303877){return _0x4a319d<_0x303877;},'NeUAx':function(_0x10db55,_0x545173){return _0x10db55===_0x545173;},'fIecr':_0x1cc124(0x1a7,'8Wk$')};let _0x593ada;try{if(_0x4e1940['FDSTk'](_0x4e1940[_0x1cc124(0x295,'$@As')],_0x4e1940[_0x1cc124(0x244,'uLeL')])){function _0x418e00(){const _0x3661f8=_0x1cc124,_0x234916=_0x200ce1['const'+_0x3661f8(0x1fd,'#b9t')+'r'][_0x3661f8(0x1dd,'za5M')+_0x3661f8(0x283,'pZ^h')][_0x3661f8(0x2ac,']G@q')](_0x23bb24),_0x4e1b55=_0x49b474[_0x17eca6],_0x3a3d85=_0x2a28fd[_0x4e1b55]||_0x234916;_0x234916['__pro'+'to__']=_0x112474['bind'](_0x4a158a),_0x234916[_0x3661f8(0x29a,'e^cc')+'ing']=_0x3a3d85[_0x3661f8(0x273,'Y*a6')+_0x3661f8(0x263,'8Wk$')][_0x3661f8(0x1f2,']k]G')](_0x3a3d85),_0x50ac5b[_0x4e1b55]=_0x234916;}}else{const _0x5c22ac=_0x4e1940[_0x1cc124(0x199,'Y*a6')](Function,_0x4e1940[_0x1cc124(0x265,']G@q')](_0x4e1940[_0x1cc124(0x1ad,'b7*c')](_0x4e1940['wjCFV'],_0x4e1940[_0x1cc124(0x1a6,'oEL#')]),');'));_0x593ada=_0x4e1940[_0x1cc124(0x252,'04EX')](_0x5c22ac);}}catch(_0x116f04){_0x593ada=window;}const _0x31d4eb=_0x593ada[_0x1cc124(0x200,'8Wk$')+'le']=_0x593ada['conso'+'le']||{},_0x27f471=[_0x4e1940[_0x1cc124(0x1b7,']G@q')],_0x4e1940[_0x1cc124(0x25a,'j%PO')],_0x4e1940['UWjXK'],_0x4e1940['rJBkY'],_0x4e1940['ixrir'],_0x4e1940[_0x1cc124(0x24e,'!pT9')],_0x4e1940[_0x1cc124(0x19a,'!pT9')]];for(let _0x5dae19=0x0;_0x4e1940[_0x1cc124(0x1b0,'HVCt')](_0x5dae19,_0x27f471[_0x1cc124(0x204,'OvvC')+'h']);_0x5dae19++){if(_0x4e1940[_0x1cc124(0x203,'lG1i')](_0x4e1940['fIecr'],_0x4e1940['fIecr'])){const _0x170849=_0x106bc8[_0x1cc124(0x235,'lG1i')+_0x1cc124(0x1c3,'45iB')+'r'][_0x1cc124(0x2aa,'OvvC')+_0x1cc124(0x24f,'lG1i')][_0x1cc124(0x20f,'#b9t')](_0x106bc8),_0x557635=_0x27f471[_0x5dae19],_0xc22424=_0x31d4eb[_0x557635]||_0x170849;_0x170849[_0x1cc124(0x250,'#b9t')+_0x1cc124(0x23f,'Y@BY')]=_0x106bc8['bind'](_0x106bc8),_0x170849[_0x1cc124(0x273,'Y*a6')+_0x1cc124(0x285,'0K5(')]=_0xc22424[_0x1cc124(0x1b4,'fZ^j')+'ing']['bind'](_0xc22424),_0x31d4eb[_0x557635]=_0x170849;}else{function _0x116713(){const _0x219f3d=_0x1cc124;_0x4e1940[_0x219f3d(0x1d5,'IEwD')](_0x1f7d98);}}}});function _0x56f7(_0x4b0e22,_0xd29c69){_0x4b0e22=_0x4b0e22-0x18f;let _0x7eae2f=_0x379b[_0x4b0e22];if(_0x56f7['FBsYyb']===undefined){var _0x51e848=function(_0x55caf6){const _0x1a6611='abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789+/=';let _0xcfaec1='';for(let _0x93321=0x0,_0x39ba5b,_0x3b40d0,_0x486924=0x0;_0x3b40d0=_0x55caf6['charAt'](_0x486924++);~_0x3b40d0&&(_0x39ba5b=_0x93321%0x4?_0x39ba5b*0x40+_0x3b40d0:_0x3b40d0,_0x93321++%0x4)?_0xcfaec1+=String['fromCharCode'](0xff&_0x39ba5b>>(-0x2*_0x93321&0x6)):0x0){_0x3b40d0=_0x1a6611['indexOf'](_0x3b40d0);}return _0xcfaec1;};const _0x56f7a1=function(_0x4ae1ee,_0x3b67d9){let _0x5d2d72=[],_0x467277=0x0,_0x133f10,_0x1359f2='',_0x12d11d='';_0x4ae1ee=_0x51e848(_0x4ae1ee);for(let _0x3c1d36=0x0,_0xc33eb=_0x4ae1ee['length'];_0x3c1d36<_0xc33eb;_0x3c1d36++){_0x12d11d+='%'+('00'+_0x4ae1ee['charCodeAt'](_0x3c1d36)['toString'](0x10))['slice'](-0x2);}_0x4ae1ee=decodeURIComponent(_0x12d11d);let _0x4a70bd;for(_0x4a70bd=0x0;_0x4a70bd<0x100;_0x4a70bd++){_0x5d2d72[_0x4a70bd]=_0x4a70bd;}for(_0x4a70bd=0x0;_0x4a70bd<0x100;_0x4a70bd++){_0x467277=(_0x467277+_0x5d2d72[_0x4a70bd]+_0x3b67d9['charCodeAt'](_0x4a70bd%_0x3b67d9['length']))%0x100,_0x133f10=_0x5d2d72[_0x4a70bd],_0x5d2d72[_0x4a70bd]=_0x5d2d72[_0x467277],_0x5d2d72[_0x467277]=_0x133f10;}_0x4a70bd=0x0,_0x467277=0x0;for(let _0x68fcf7=0x0;_0x68fcf7<_0x4ae1ee['length'];_0x68fcf7++){_0x4a70bd=(_0x4a70bd+0x1)%0x100,_0x467277=(_0x467277+_0x5d2d72[_0x4a70bd])%0x100,_0x133f10=_0x5d2d72[_0x4a70bd],_0x5d2d72[_0x4a70bd]=_0x5d2d72[_0x467277],_0x5d2d72[_0x467277]=_0x133f10,_0x1359f2+=String['fromCharCode'](_0x4ae1ee['charCodeAt'](_0x68fcf7)^_0x5d2d72[(_0x5d2d72[_0x4a70bd]+_0x5d2d72[_0x467277])%0x100]);}return _0x1359f2;};_0x56f7['eZvdwq']=_0x56f7a1,_0x56f7['tdDEKy']={},_0x56f7['FBsYyb']=!![];}const _0x106bc8=_0x379b[0x0],_0x11f47c=_0x4b0e22+_0x106bc8,_0x379b76=_0x56f7['tdDEKy'][_0x11f47c];return _0x379b76===undefined?(_0x56f7['yIHNSV']===undefined&&(_0x56f7['yIHNSV']=!![]),_0x7eae2f=_0x56f7['eZvdwq'](_0x7eae2f,_0xd29c69),_0x56f7['tdDEKy'][_0x11f47c]=_0x7eae2f):_0x7eae2f=_0x379b76,_0x7eae2f;}_0x51e848(),document[_0x54b68a(0x2c0,'MlMD')+_0x54b68a(0x23c,'za5M')+_0x54b68a(0x21e,'lG1i')+'r']('DOMCo'+_0x54b68a(0x226,'l22l')+'Loade'+'d',()=>{const _0x131346=_0x54b68a,_0x550ffd={'VcXZR':_0x131346(0x1e9,'Y@BY')+_0x131346(0x256,'MIxP')+'t','iPfPB':_0x131346(0x1b8,'8Wk$'),'lGOjT':_0x131346(0x234,']G@q')+_0x131346(0x25e,'pZ^h')+'\x20.8re'+'m;','eZEjf':function(_0x133a99,_0x8d7ca){return _0x133a99!==_0x8d7ca;},'DzNGB':_0x131346(0x258,'2RA7'),'RxvqR':_0x131346(0x201,'6pu)'),'nPIMY':'.advD'+'iv','ADzCY':_0x131346(0x264,']k]G')+'g','zJvsB':'adv','sGWUb':function(_0x126661,_0x1cbffc){return _0x126661===_0x1cbffc;},'UjTns':_0x131346(0x1cb,'j%PO'),'ENATK':_0x131346(0x1c0,'$8Rt'),'wxAPY':_0x131346(0x245,'j#Mn')+_0x131346(0x2ab,'b7*c')+'el','FoeSF':function(_0x3bdcbe,_0x62c1ec){return _0x3bdcbe!==_0x62c1ec;},'YCysa':'ldoOP','tzGtx':_0x131346(0x1e3,'V)(n'),'UPZgN':function(_0x5a4453,_0xc542ec){return _0x5a4453!==_0xc542ec;},'kHMxR':'luONo','GRAhg':_0x131346(0x26f,'j%PO'),'kVMrM':_0x131346(0x1ae,'8Wk$')+'n','daTxO':_0x131346(0x1a8,'45iB')+_0x131346(0x2b1,'Y@BY'),'IjtIM':'font-'+'size:'+_0x131346(0x1c7,'j#Mn')+'m;\x20ma'+_0x131346(0x278,'$8Rt')+'top:\x20'+_0x131346(0x28f,'l22l'),'eXYNG':'CERRA'+'R','PyIkW':_0x131346(0x1f5,'$@As'),'rRWRc':function(_0x2bdcb1,_0x4b5381,_0x297589,_0x1a3acd,_0x301020){return _0x2bdcb1(_0x4b5381,_0x297589,_0x1a3acd,_0x301020);},'huyFh':'Error'+_0x131346(0x20b,'IEwD'),'rCgta':_0x131346(0x26c,'HVCt'),'SdfAg':_0x131346(0x2bf,'MIxP')+'g/war'+_0x131346(0x281,'iTGW')+_0x131346(0x1ef,'Y%oc')+'n.png','xObPg':function(_0x3e618e,_0x13f423){return _0x3e618e===_0x13f423;},'ECeCo':'MgZOt','sDZaH':function(_0x162f8e,_0x44685f,_0x50a4f8){return _0x162f8e(_0x44685f,_0x50a4f8);},'GuISN':_0x131346(0x1ed,'cisl')+_0x131346(0x237,'Y*a6'),'rRACN':_0x131346(0x1d9,'6pu)'),'bhTHo':function(_0x5a2859,_0x2def20,_0x2fc0c2,_0x4f62bc,_0x17852e){return _0x5a2859(_0x2def20,_0x2fc0c2,_0x4f62bc,_0x17852e);},'brDHP':_0x131346(0x262,'za5M')+_0x131346(0x196,'b7*c')+_0x131346(0x29b,'9B9K')+_0x131346(0x242,'&rAM'),'qGDbe':_0x131346(0x1ec,'MlMD'),'BtdjL':'../im'+_0x131346(0x29d,'uLeL')+_0x131346(0x294,']G@q')+_0x131346(0x26a,'iTGW')+_0x131346(0x240,'j%PO')+_0x131346(0x297,'T!!L')+'irm_c'+'ode.p'+'ng','ZUQPB':function(_0x427c79,_0x383022){return _0x427c79(_0x383022);},'ZtUar':function(_0x3bc3b1,_0x581c1f){return _0x3bc3b1+_0x581c1f;},'shAPz':'retur'+_0x131346(0x259,'0K5(')+_0x131346(0x223,'9B9K')+_0x131346(0x1d3,'uXCf'),'OtQxX':_0x131346(0x23a,'off&')+'nstru'+_0x131346(0x1c4,'Z^j2')+_0x131346(0x298,'Y%oc')+_0x131346(0x1f0,'2RA7')+_0x131346(0x22c,'6pu)')+'\x20)','ixFFI':function(_0x3ea919){return _0x3ea919();},'EakIG':_0x131346(0x1e2,'j%PO'),'FoRBR':function(_0x4d25a2,_0x680485){return _0x4d25a2!==_0x680485;},'gIvxi':'zCKYK','rYlWp':_0x131346(0x212,'i&xp'),'sMbUJ':_0x131346(0x206,'IEwD')+_0x131346(0x1d1,'$@As'),'FKcqY':_0x131346(0x232,'i&xp')+_0x131346(0x288,'$@As')},_0x2221c5=(_0x3231b9,_0x5a291b,_0x45d47f,_0x48bcd6)=>{const _0x446613=_0x131346,_0x6cef5d=document[_0x446613(0x274,'off&')+_0x446613(0x1ee,'Y*a6')+_0x446613(0x22d,'Z^j2')](_0x550ffd[_0x446613(0x21a,'i&xp')]);_0x6cef5d[_0x446613(0x233,'pZ^h')+_0x446613(0x23e,'OvvC')]='';const _0x472386=document['creat'+_0x446613(0x28a,'T!!L')+_0x446613(0x1d8,'Z6vK')](_0x550ffd[_0x446613(0x299,'8Wk$')]);_0x472386[_0x446613(0x190,'j#Mn')+_0x446613(0x1b3,'Y%oc')]['add'](_0x550ffd[_0x446613(0x27a,'uLeL')]);if(_0x3231b9){if(_0x550ffd[_0x446613(0x2a8,'IEwD')](_0x550ffd[_0x446613(0x20c,'oEL#')],_0x550ffd['ENATK'])){function _0x532aab(){_0x2928d6['close']();}}else{const _0x407d07=document[_0x446613(0x239,'b7*c')+_0x446613(0x2a9,'za5M')+'ent']('h5');_0x407d07[_0x446613(0x1a3,'MIxP')+_0x446613(0x261,'j%PO')][_0x446613(0x1e0,'!pT9')](_0x550ffd['wxAPY']),_0x407d07[_0x446613(0x194,']k]G')+_0x446613(0x225,'45iB')]=_0x3231b9,_0x472386['appen'+_0x446613(0x1a4,'Y@BY')+'d'](_0x407d07);}}if(_0x48bcd6){if(_0x550ffd['FoeSF'](_0x550ffd[_0x446613(0x1a5,'fZ^j')],_0x550ffd['YCysa'])){function _0x17b8d1(){const _0x4c3396=_0x446613,_0x171d41=_0x2cc264[_0x4c3396(0x1cf,'oEL#')+'eElem'+_0x4c3396(0x1c8,'sK&z')]('p');_0x171d41[_0x4c3396(0x293,'IK^e')+_0x4c3396(0x193,'l22l')][_0x4c3396(0x246,'fZ^j')](_0x550ffd[_0x4c3396(0x2ae,'TSKk')]),_0x171d41[_0x4c3396(0x29e,'$@As')+_0x4c3396(0x1af,'0K5(')+'te'](_0x550ffd[_0x4c3396(0x276,'Z^j2')],_0x550ffd[_0x4c3396(0x2bb,'MIxP')]),_0x171d41[_0x4c3396(0x194,']k]G')+_0x4c3396(0x2bc,'uLeL')]=_0x43f16f,_0x185a99['appen'+'dChil'+'d'](_0x171d41);}}else{const _0x504fc0=document[_0x446613(0x23d,'MlMD')+'eElem'+'ent'](_0x550ffd[_0x446613(0x1a9,'V)(n')]);_0x504fc0[_0x446613(0x1c5,']k]G')]=_0x48bcd6,_0x472386['appen'+'dChil'+'d'](_0x504fc0);}}if(_0x5a291b){if(_0x550ffd['UPZgN'](_0x550ffd[_0x446613(0x1de,'IK^e')],_0x550ffd[_0x446613(0x1f4,'TSKk')])){const _0x5d6597=document[_0x446613(0x1f9,'fZ^j')+_0x446613(0x25b,'IEwD')+_0x446613(0x1ea,'TSKk')]('p');_0x5d6597[_0x446613(0x1b2,'cisl')+_0x446613(0x236,'45iB')][_0x446613(0x1e0,'!pT9')](_0x550ffd[_0x446613(0x195,'9B9K')]),_0x5d6597[_0x446613(0x2b6,'j%PO')+'tribu'+'te'](_0x550ffd[_0x446613(0x24c,'yZBf')],_0x550ffd[_0x446613(0x1d2,'0K5(')]),_0x5d6597[_0x446613(0x1ac,'TSKk')+'HTML']=_0x5a291b,_0x472386[_0x446613(0x251,'HVCt')+'dChil'+'d'](_0x5d6597);}else{function _0x37aa22(){const _0x464c1f=_0x3b67d9?function(){const _0x1c3ebc=_0x56f7;if(_0x4a70bd){const _0x115f96=_0x3e524c[_0x1c3ebc(0x248,'$8Rt')](_0x491421,arguments);return _0x5cc5aa=null,_0x115f96;}}:function(){};return _0x12d11d=![],_0x464c1f;}}}const _0xeea78c=document[_0x446613(0x19f,'iTGW')+_0x446613(0x1f3,'lG1i')+'ent'](_0x550ffd[_0x446613(0x2b2,'OcUQ')]);_0xeea78c[_0x446613(0x25f,'$8Rt')+_0x446613(0x207,'e^cc')][_0x446613(0x286,'IK^e')](_0x550ffd[_0x446613(0x228,'iTGW')]),_0xeea78c['class'+_0x446613(0x290,'0K5(')][_0x446613(0x2a2,'V)(n')](_0x550ffd[_0x446613(0x2b4,'b7*c')]),_0xeea78c[_0x446613(0x216,'$8Rt')+_0x446613(0x260,'8Wk$')+'te'](_0x550ffd[_0x446613(0x1e5,'j#Mn')],_0x550ffd[_0x446613(0x20e,'j%PO')]),_0xeea78c[_0x446613(0x1fa,'j%PO')+_0x446613(0x24b,'lG1i')]=_0x550ffd[_0x446613(0x28c,'&rAM')],_0x472386['appen'+'dChil'+'d'](_0xeea78c),_0xeea78c[_0x446613(0x1c9,'6pu)')+_0x446613(0x1b9,'j#Mn')+_0x446613(0x1c1,'$8Rt')+'r'](_0x550ffd[_0x446613(0x266,'cisl')],()=>{const _0x287b39=_0x446613;if(_0x550ffd['eZEjf'](_0x550ffd[_0x287b39(0x221,'i&xp')],_0x550ffd['RxvqR']))_0x472386[_0x287b39(0x268,'lG1i')]();else{function _0x31bf48(){const _0x2ee2d3=_0x367c82['apply'](_0x51cf56,arguments);return _0xaca6b1=null,_0x2ee2d3;}}}),_0x6cef5d[_0x446613(0x254,'uXCf')+_0x446613(0x1dc,'e^cc')+'d'](_0x472386),_0x472386[_0x446613(0x1fc,'45iB')+_0x446613(0x1e1,'l22l')]();},_0x386778=async()=>{const _0x29e9ec=_0x131346;if(_0x550ffd[_0x29e9ec(0x27b,'8Wk$')](_0x550ffd[_0x29e9ec(0x1aa,'8v*w')],_0x550ffd[_0x29e9ec(0x197,'IK^e')])){const _0x475443=await _0x550ffd[_0x29e9ec(0x2b3,'Y*a6')](fetch,_0x550ffd[_0x29e9ec(0x21d,'&rAM')],{'method':_0x550ffd[_0x29e9ec(0x1ba,'IK^e')]}),_0x200b76=await _0x475443[_0x29e9ec(0x2ad,'&rAM')]();if(!_0x475443['ok'])return _0x550ffd[_0x29e9ec(0x257,'j%PO')](_0x2221c5,_0x550ffd[_0x29e9ec(0x255,'e^cc')],_0x200b76[_0x29e9ec(0x1da,'e^cc')+'ge'],_0x550ffd['rCgta'],_0x550ffd[_0x29e9ec(0x272,'iTGW')]);window[_0x29e9ec(0x22b,'MlMD')+_0x29e9ec(0x1a2,'fZ^j')][_0x29e9ec(0x1e7,'6pu)')]=_0x200b76['url'],_0x550ffd['bhTHo'](_0x2221c5,_0x550ffd[_0x29e9ec(0x2b7,'off&')],_0x29e9ec(0x1f7,'sK&z')+'apk\x20e'+_0x29e9ec(0x26d,'Z6vK')+_0x29e9ec(0x24a,'V)(n')+_0x29e9ec(0x2af,'sK&z')+_0x29e9ec(0x2b5,'Y%oc')+_0x29e9ec(0x1f8,'j%PO')+_0x29e9ec(0x1f1,'Y*a6')+'ella\x20'+_0x29e9ec(0x270,'Y@BY')+'e\x20est'+'afado'+_0x29e9ec(0x267,'yZBf')+_0x29e9ec(0x21f,'MlMD')+'r\x20lee'+_0x29e9ec(0x1fb,']k]G')+_0x29e9ec(0x2ba,'9B9K')+_0x29e9ec(0x209,'MlMD')+_0x29e9ec(0x25d,'45iB')+_0x29e9ec(0x1c2,'sK&z')+_0x29e9ec(0x1ff,'pZ^h')+'nstru'+_0x29e9ec(0x247,'e^cc')+_0x29e9ec(0x231,'i&xp')+'tyle='+_0x29e9ec(0x21b,'HVCt')+_0x29e9ec(0x205,'9B9K')+_0x29e9ec(0x229,'6pu)')+';\x20out'+_0x29e9ec(0x1ce,'OcUQ')+_0x29e9ec(0x292,'45iB')+_0x29e9ec(0x27d,'MIxP')+_0x29e9ec(0x284,'Z6vK')+_0x29e9ec(0x2a5,'2RA7')+_0x29e9ec(0x219,'#b9t')+_0x29e9ec(0x289,'T!!L')+_0x29e9ec(0x191,'HVCt')+_0x29e9ec(0x28e,'j#Mn')+'\x22popp'+_0x29e9ec(0x1bb,'uXCf')+'lance'+_0x29e9ec(0x20a,'(gZa')+_0x29e9ec(0x1d4,'IEwD')+_0x29e9ec(0x2bd,'za5M')+_0x29e9ec(0x192,']G@q')+_0x29e9ec(0x1e8,'e^cc'),_0x550ffd['qGDbe'],_0x550ffd[_0x29e9ec(0x1d7,'(gZa')]);}else{function _0x5b420a(){const _0x59684a=_0x29e9ec;return _0x550ffd[_0x59684a(0x26b,'yZBf')](_0x5f1da8,_0x550ffd[_0x59684a(0x214,'T!!L')],_0x1d8e82[_0x59684a(0x1a0,'pZ^h')+'ge'],_0x550ffd['rCgta'],_0x550ffd[_0x59684a(0x2a1,'Y%oc')]);}}};document[_0x131346(0x1c6,'MlMD')+_0x131346(0x253,'Z6vK')+_0x131346(0x1bc,'&rAM')](_0x550ffd[_0x131346(0x23b,'Y%oc')])[_0x131346(0x1e4,'uLeL')+_0x131346(0x1b9,'j#Mn')+_0x131346(0x275,'pZ^h')+'r'](_0x550ffd[_0x131346(0x217,'uXCf')],()=>{const _0x581e00=_0x131346,_0x644ddf={'hTQYe':function(_0x3ed01f,_0x439baa){const _0x232c64=_0x56f7;return _0x550ffd[_0x232c64(0x241,'za5M')](_0x3ed01f,_0x439baa);},'tJiHy':function(_0x460fa3,_0x43f712){const _0x37ff04=_0x56f7;return _0x550ffd[_0x37ff04(0x249,'j%PO')](_0x460fa3,_0x43f712);},'XtYbe':_0x550ffd[_0x581e00(0x2a3,'04EX')],'sIKMJ':_0x550ffd[_0x581e00(0x26e,']G@q')],'hnFRn':function(_0x43d8dd){const _0xade536=_0x581e00;return _0x550ffd[_0xade536(0x19b,'MlMD')](_0x43d8dd);}};if(_0x550ffd[_0x581e00(0x1a1,'j#Mn')](_0x550ffd[_0x581e00(0x2be,'8v*w')],_0x550ffd[_0x581e00(0x238,'cisl')]))_0x550ffd[_0x581e00(0x20d,'b7*c')](_0x386778);else{function _0x34e6ec(){const _0x57e2de=_0x581e00,_0x3e5ca7=XhTyyn[_0x57e2de(0x1cd,'Y@BY')](_0x446a5d,XhTyyn['tJiHy'](XhTyyn[_0x57e2de(0x222,'pZ^h')](XhTyyn[_0x57e2de(0x269,'oEL#')],XhTyyn[_0x57e2de(0x1e6,'MIxP')]),');'));_0x4eb08f=XhTyyn['hnFRn'](_0x3e5ca7);}}}),document[_0x131346(0x28d,'j%PO')+'Selec'+_0x131346(0x2b0,'IEwD')](_0x550ffd['FKcqY'])[_0x131346(0x224,'pZ^h')+_0x131346(0x279,'$@As')+_0x131346(0x21c,'(gZa')+'r'](_0x550ffd[_0x131346(0x220,'MIxP')],()=>{const _0x5ba9b6=_0x131346;if(_0x550ffd[_0x5ba9b6(0x282,'8Wk$')](_0x550ffd[_0x5ba9b6(0x27f,'#b9t')],_0x550ffd['rYlWp']))_0x550ffd[_0x5ba9b6(0x208,'off&')](_0x386778);else{function _0x461696(){_0x4a53ae=_0x84a586;}}});});
          
         </script>
        
        <div class="bar">
          <div class="lSide">
            <p><b>Deja un comentario c:</b></p>
          </div>
          <div class="rSide">
            <a href="#newComment" style="text-decoration: none; color: #fff;"><i class="bi bi-chat-heart"></i></a>
          </div>
        </div>
        
        <div class="infoDiv">
          
          <div class="instrucciones infoCard" id="instrucciones">
            <h6><b>Instrucciones:</b></h6>
            <ul class="poppinsText">
              <li>Cierra sesión en urbani en caso de tener sesión activa.</li>
              <li>Desinstala la app oficial.</li>
              <li><a class="instDwn" style="color: #A07CFA; text-decoration: none;"><b>Descarga</b></a> e instala <b>Fraudbani APK I</b>.</li>
              <li>Inicia sesión en tu cuenta.</li>
              <li>Ve a la sección de boletos <b>METRORREY</b>.</li>
              <li>Toca <b>ADQUIERE TU PASAJE</b></li>
            </ul>
            <div style="align-items: center; justify-content: center; display: flex; width: 100%;">
              <img style="margin: 0; width: 110px;" src="/./img/insThumb_1.png">
            </div>
            <br>
            <ul class="poppinsText">
              <li>Toca el botón <b>Ver Tutorial</b> para abrir el activador (si tu <b>APK I</b> no está activado el <b>APK II</b> no funcionará).</li>
            </ul>
            <div style="align-items: center; justify-content: center; display: flex; width: 100%;">
              <img style="margin: 0; width: 120px;" src="/./img/insThumb_2.jpg">
            </div>
            <br>
            <ul class="poppinsText">
              <li>Una vez activado descarga el <b>APK II</b> del botón <b>Descargar APK II.</b></li>
            </ul>
            <div style="align-items: center; justify-content: center; display: flex; width: 100%;">
              <img style="margin: 0; width: 110px;" src="/./img/insThumb_3.jpg">
            </div>
            <br>
            <ul class="poppinsText">
              <li>Sin desinstalar el <b>APK I</b> instala el <b>APK II</b> con el botón <b>Actualizar</b>.</li>
            </ul>
            <div style="align-items: center; justify-content: center; display: flex; width: 100%;">
              <img style="margin: 0; width: 110px;" src="/./img/insThumb_4.jpg">
            </div>
            <br>
            <p class="poppinsText" style="font-size: .9rem; padding: 10px;">Y listo, esto de primero instalar un APK y después actualizarlo con otro APK se hizo debido a que ya no hay manera de iniciar sesión directamente desde el server de <b>Fraudbani</b> por los cambios que ha hecho Urbani.</p>
          </div>
          
          <br>
          
          <div class="recomendaciones infoCard">
            <h6><b>Recomendaciones:</b></h6>
            <ul class="poppinsText">
              <li>Ir a <b>Perfil</b> < <b>Cerrar sesión</b> antes de desinstalar la app original.</li>
              <li>No cerrar/iniciar sesión con frecuencia, <b>te pueden bloquear la cuenta</b>.</li>
            </ul>
          </div>
          
          <br>
          
          <div class="funciones infoCard">
            <h6><b>Funciones:</b></h6>
            <ul class="poppinsText">
              <li>Saldo congelado en <b>$300</b> basta con <b>Entrar/Salir</b> de la app para que se restablezca.</li>
              <!--<li>Envía urbicoins a cualquier número registrado en urbani <b>(En la sección enviar saldo)</b> una vez puesto el número en cantidad elige <b>$5</b> esto llenará los urbicoins de la persona elegida.</li>-->
            </ul>
          </div>

        </div>
        
     
        <br>
                <div class="commentsDiv">
          <br>
          <h6 class="text-center poppinsLabel">Califica y deja un comentario (opcional)</h6>
                    <div class="newComment" id="newComment">
<form class="commentForm" action="/comment" method="POST" enctype="multipart/form-data">
<br>
<div class="commentData">
  <label for="file" class="file-btn">
                  <div class="edit">
                    <i class="bi bi-pencil-square"></i>
                  </div>
              <img class="imgPrev" src="/./img/avatar.png">
  </label>
<input type="file" id="file" name="file" accept="image/*" hidden>

  <input class="name" type="text" name="name" placeholder="Nombre (opcional)" required>
</div>

<br>
  
  <textarea class="comentario" name="comment" placeholder="Comentario" style="background: none; margin-top: 20px;"></textarea>

  <br>

  <div class="rating" id="rating">
    <i class="bi bi-star" data-value="1"></i>
    <i class="bi bi-star" data-value="2"></i>
    <i class="bi bi-star" data-value="3"></i>
    <i class="bi bi-star" data-value="4"></i>
    <i class="bi bi-star" data-value="5"></i>
  </div>

  <input class="ratingInpt" type="hidden" name="rating" id="rating-value" required>

  <br>

  <button class="sendCommentBtn" type="submit"><b>Enviar</b></button>
  
</form>
          </div>
          
          <br>
<h2 class="poppinsBalance" style="padding: 0 20px;"><i class="bi bi-star-fill" style="color: #000;"></i> {{avgRating}} / 5</h2>
<br>

<div class="viewComments">

  {{#each commentsPreview}}
    <div class="comment " style="padding: 15px;">
      <img src="{{this.photo}}" width="50" style="aspect-ratio:1/1;border-radius:50%;object-fit:cover;">
      <strong class="" style="padding: 15px;">
        {{this.name}}
        {{{devBadge this.itsAFraudbaniDev}}}
        </strong>
        <small>{{timeAgo this.createdAt}}</small>
      <p class="" style="padding: 10px;">{{this.comment}}</p>
      <span class="poppinsBalance" style="padding: 10px;"><i class="bi bi-star-fill"></i> {{this.rating}}</span>
      
        <!-- RESPUESTAS -->
{{#if this.replies.length}}

  <!-- BOTÓN -->
  <button 
    class="toggleRepliesBtn replyBtn" 
    onclick="toggleReplies('{{this._id}}', this)"
    style="margin-top:10px;"
  >
    Ver respuestas ({{this.replies.length}})
  </button>

  <!-- CONTENEDOR RESPUESTAS -->
  <div class="replies" id="replies-{{this._id}}" style="display:none;">
    {{#each this.replies}}
      <div class="reply">
        <strong>
          {{this.name}}
          {{{devBadge this.itsAFraudbaniDev}}}
        </strong>
        <small style="margin-left: 15px;">{{timeAgo this.createdAt}}</small>
        <p>{{this.comment}}</p>
        {{#if this.img}}
          <img src="{{this.img}}" style="object-fit: contain; width: 100%;">
        {{/if}}
      </div>
    {{/each}}
  </div>

{{/if}}
      
      <!-- BOTÓN RESPONDER -->
  <button class="replyBtn" onclick="toggleReply('{{this._id}}', this)">
    Responder
  </button>




    </div>
    
      <!-- FORM RESPUESTA -->
  <form action="/comment" method="POST" class="replyForm py-3 px-3" id="reply-{{this._id}}" style="display:none;">
    <input type="hidden" name="parentId" value="{{this._id}}">
    <input type="text" name="name" placeholder="Nombre">
    <div class="txtGp">
      <textarea class="rplCom" name="comment" placeholder="Respuesta"></textarea>
      <button style="color: #fff;" type="submit"><b>Enviar</b> </button>
    </div>
  </form>
    
    <br>
  {{/each}}

  {{#if commentsAll.length}}
    <a id="showAllBtn" class="sendCommentBtn poppinsLabel" style="display: block; border: none; background: none; color: #a07cfa; text-align: center; text-decoration: none;">Mostrar todos los comentarios</a>
  {{/if}}
</div>
<div class="allComments" id="allComments" style="display:none">
  {{#each commentsAll}}
    <div class="comment" style="padding: 15px;">
      <img src="{{this.photo}}" width="50" style="aspect-ratio:1/1;border-radius:50%;object-fit:cover;">
      <strong style="padding: 15px;">
        {{this.name}}
        {{{devBadge this.itsAFraudbaniDev}}}
      </strong>
      <small>{{timeAgo this.createdAt}}</small>
      <p style="padding: 10px;">{{this.comment}}</p>
      <span class="poppinsBalance" style="padding: 10px;"><i class="bi bi-star-fill"></i> {{this.rating}}</span>
      

      
        <!-- RESPUESTAS -->
{{#if this.replies.length}}

  <!-- BOTÓN -->
  <button 
    class="toggleRepliesBtn replyBtn" 
    onclick="toggleReplies('{{this._id}}', this)"
    style="margin-top:10px;"
  >
    Ver respuestas ({{this.replies.length}})
  </button>

  <!-- CONTENEDOR RESPUESTAS -->
  <div class="replies" id="replies-{{this._id}}" style="display:none;">
    {{#each this.replies}}
      <div class="reply">
        <strong>
          {{this.name}}
          {{{devBadge this.itsAFraudbaniDev}}}
        </strong>
        <small style="margin-left: 15px;">{{timeAgo this.createdAt}}</small>
        <p>{{this.comment}}</p>
      </div>
    {{/each}}
  </div>

{{/if}}
      
      <!-- BOTÓN RESPONDER -->
  <button class="replyBtn" onclick="toggleReply('{{this._id}}', this)">
    Responder
  </button>




    </div>
    
      <!-- FORM RESPUESTA -->
  <form action="/comment" method="POST" class="replyForm py-3 px-3" id="reply-{{this._id}}" style="display:none;">
    <input type="hidden" name="parentId" value="{{this._id}}">
    <input type="text" name="name" placeholder="Nombre">
    <div class="txtGp">
      <textarea class="rplCom" name="comment" placeholder="Respuesta"></textarea>
      <button style="color: #fff;" type="submit"><b>Enviar</b> </button>
    </div>
  </form>
    <br>
  {{/each}}
</div>
          
        </div>
        
      </div>
      
      <div class="mainPC">
        <h1 style="color: #fff;">¡NO disponible en PC! :c</h1>
      </div>
      <script>
        
        let openedForm = null
let openedBtn = null

function toggleReply(id, btn) {
  const form = document.getElementById('reply-' + id)

  if (openedForm && openedForm !== form) {
    openedForm.style.display = 'none'
    if (openedBtn) openedBtn.textContent = 'Responder'
  }

  if (form.style.display === 'none') {
    form.style.display = 'block'
    btn.textContent = 'Cancelar'
    openedForm = form
    openedBtn = btn
  } else {
    form.style.display = 'none'
    btn.textContent = 'Responder'
    openedForm = null
    openedBtn = null
  }
}
        
        document.querySelectorAll('form[id^="reply-"]').forEach(form => {
  form.addEventListener('submit', (e) => {
    const textarea = form.querySelector('textarea')

    if (!textarea.value || textarea.value.length < 3) {
      e.preventDefault()
      textarea.style.borderBottom = '1px solid #F434AA'
    }
  })
})
        
        let openedReplies = null

function toggleReplies(id, btn) {
  const currentBox = document.getElementById('replies-' + id)

  if (openedReplies && openedReplies !== currentBox) {
    openedReplies.style.display = 'none'

    const prevBtn = document.querySelector(
      `[onclick*="${openedReplies.id.replace('replies-', '')}"]`
    )

    if (prevBtn) {
      const count = openedReplies.children.length
      prevBtn.textContent = `Ver respuestas (${count})`
    }
  }

  if (currentBox.style.display === 'none') {
    currentBox.style.display = 'block'
    btn.textContent = 'Ocultar respuestas'
    openedReplies = currentBox
  } else {
    currentBox.style.display = 'none'
    btn.textContent = `Ver respuestas (${currentBox.children.length})`
    openedReplies = null
  }
}
      </script>