       <div class="main">
         
         <dialog class="clsDiag">
           <div class="diagCont">
             <h2 class="poppinsLabel">AVISO</h2>
             <!--<h6>Riesgo de Ban</h6>-->
             <br>
             <img class="mt-2" src="/./img/facial-verification-error.png">
             <br>
             <p class="poppinsText mt-3">Hola, <b>Fraudbani</b> fué como un reto para mí, un pasatiempo, cuando logré que funcionara quise compartirlo con ustedes con el fin de ayudar, sobre todo a los estudiantes, pero últimamente he estado viendo que hay gente que lo está vendiendo y alch no me parece porque weeeey ni yo lo ando vendiendo, no mamen jajaja, así que he tomado la decisión de cerrar <b>Fraudbani</b>, se que no es justo para todos, pero weeeey entonces que chiste tiene si se supone que era para que no pagaran, si encuentro una solución a que no se venda lo abro de nuevo si no pues fue un gusto, adiós.</p>
             <br>
             <h6>Actualización</h6>
             <p class="poppinsText text-center">Regreso de <b>Fraudbani</b> confirmado (15 de Abril aprox.)</p>
             <br>
             <button class="closeBtn">CERRAR</button>
           </div>
         </dialog>
         
        <div class="advDiv">
        </div>
        
        <div class="dwnCard">
          <img src="/./img/van.png" class="van">
          <p class="poppinsText text-center" style="color: #444;"><b>TRANSPORTES</b></p>
          <ul class="poppinsText">
            <li>
              <span>Metrorrey</span> <strong>Gratis</strong>
            </li>
            <li>
              <span>Ruta Integrada</span> <strong>Gratis</strong>
            </li>
            <li>
              <span>Muevo León</span> <strong>Gratis</strong>
            </li>
          </ul>
          <a class="poppinsLabel dwnlBtn basicBtn" style="opacity: .5;">DESCARGAR</a>
        </div>
        
        <script>
          document.addEventListener('DOMContentLoaded', () => {
          const dialog = (title, dialog, color, img) => {
            const advDiv = document.querySelector('.advDiv')
            
            advDiv.innerHTML = ''
            
            const diag = document.createElement('dialog')
            
            diag.classList.add('adv')
            
            if (title) {
              const h5 = document.createElement('h5')
              h5.classList.add('poppinsLabel')
    h5.innerHTML = title
    diag.appendChild(h5)
  }
  
  if (img) {
    const pic = document.createElement('img')
    pic.src = img
    diag.appendChild(pic)
  }
  
  if (dialog) {
    const adv = document.createElement('p')
    adv.classList.add('poppinsText')
    adv.setAttribute('style', 'font-size: .8rem;')
    adv.innerHTML = dialog
    diag.appendChild(adv)
  }
  
  const btn = document.createElement('button')
  btn.classList.add('basicBtn')
  btn.classList.add('poppinsLabel')
  btn.setAttribute('style', 'font-size: .8rem; margin-top: 20px;')
  btn.innerHTML = 'CERRAR'
  diag.appendChild(btn)
  
  btn.addEventListener('click', () => {
    diag.close()
  })
  
  advDiv.appendChild(diag)
  
  diag.showModal()
}
          
          const descargar = async () => {
            const res = await fetch('/download', { method: 'POST' })
            const data = await res.json()
            if (!res.ok) {
              dialog('Error...', data.message, 'red', '../img/warningRedIcon.png')
              return
            }
            window.location.href = data.url  // ← ahora sí funciona
            }
          
          /* document.querySelector('.dwnlBtn').addEventListener('click', () => {
             descargar()
           })*/
          })
         </script>
        
        <div class="bar">
          <div class="lSide">
            <p><b>Deja un comentario c:</b></p>
          </div>
          <div class="rSide">
            <a href="#newComment" style="text-decoration: none; color: #fff;"><i class="bi bi-chat-heart"></i></a>
          </div>
        </div>
        
        <div class="infoDiv">
          
          <div class="instrucciones infoCard">
            <h6><b>Instrucciones:</b></h6>
            <ul class="poppinsText">
              <li>Cierra sesión en urbani en caso de tener sesión activa.</li>
              <li>Desinstala la app oficial.</li>
              <li><a style="color: #A07CFA; text-decoration: none;"><b>Descarga</b></a> e instala <b>Fraudbani</b>.</li>
              <li>Inicia sesión en tu cuenta.</li>
            </ul>
          </div>
          
          <br>
          
          <div class="recomendaciones infoCard">
            <h6><b>Recomendaciones:</b></h6>
            <ul class="poppinsText">
              <li>Ir a <b>Perfil</b> < <b>Cerrar sesión</b> antes de desinstalar la app original.</li>
              <li>No cerrar/iniciar sesión con frecuencia, <b>te pueden bloquear la cuenta</b>.</li>
            </ul>
          </div>
          
          <br>
          
          <div class="funciones infoCard">
            <h6><b>Funciones:</b></h6>
            <ul class="poppinsText">
              <li>Saldo congelado en <b>$300</b> basta con <b>Entrar/Salir</b> de la app para que se restablezca.</li>
              <!--<li>Envía urbicoins a cualquier número registrado en urbani <b>(En la sección enviar saldo)</b> una vez puesto el número en cantidad elige <b>$5</b> esto llenará los urbicoins de la persona elegida.</li>-->
            </ul>
          </div>

        </div>
        
     
        <br>
                <div class="commentsDiv">
          <br>
          <h6 class="text-center poppinsLabel">Califica y deja un comentario (opcional)</h6>
                    <div style="opacity: .5;" class="newComment" id="newComment" inert>
<form class="commentForm" action="/comment" method="POST" enctype="multipart/form-data">
<br>
<div class="commentData">
  <label for="file" class="file-btn">
                  <div class="edit">
                    <i class="bi bi-pencil-square"></i>
                  </div>
              <img class="imgPrev" src="/./img/avatar.png">
  </label>
<input type="file" id="file" name="file" accept="image/*" hidden>

  <input class="name" type="text" name="name" placeholder="Nombre (opcional)" required>
</div>

<br>
  
  <textarea class="comentario" name="comment" placeholder="Comentario" style="background: none; margin-top: 20px;"></textarea>

  <br>

  <div class="rating" id="rating">
    <i class="bi bi-star" data-value="1"></i>
    <i class="bi bi-star" data-value="2"></i>
    <i class="bi bi-star" data-value="3"></i>
    <i class="bi bi-star" data-value="4"></i>
    <i class="bi bi-star" data-value="5"></i>
  </div>

  <input class="ratingInpt" type="hidden" name="rating" id="rating-value" required>

  <br>

  <button class="sendCommentBtn" type="submit"><b>Enviar</b></button>
  
</form>
          </div>
          
          <br>
<h2 class="poppinsBalance" style="padding: 0 20px;"><i class="bi bi-star-fill" style="color: #000;"></i> {{avgRating}} / 5</h2>
<br>

<div class="viewComments">

  {{#each commentsPreview}}
    <div class="comment " style="padding: 15px;">
      <img src="{{this.photo}}" width="50" style="aspect-ratio:1/1;border-radius:50%;object-fit:cover;">
      <strong class="" style="padding: 15px;">
        {{this.name}}
        {{{devBadge this.itsAFraudbaniDev}}}
        </strong>
        <small>{{timeAgo this.createdAt}}</small>
      <p class="" style="padding: 10px;">{{this.comment}}</p>
      <span class="poppinsBalance" style="padding: 10px;"><i class="bi bi-star-fill"></i> {{this.rating}}</span>
      
        <!-- RESPUESTAS -->
{{#if this.replies.length}}

  <!-- BOTÓN -->
  <button 
    class="toggleRepliesBtn replyBtn" 
    onclick="toggleReplies('{{this._id}}', this)"
    style="margin-top:10px;"
  >
    Ver respuestas ({{this.replies.length}})
  </button>

  <!-- CONTENEDOR RESPUESTAS -->
  <div class="replies" id="replies-{{this._id}}" style="display:none;">
    {{#each this.replies}}
      <div class="reply">
        <strong>
          {{this.name}}
          {{{devBadge this.itsAFraudbaniDev}}}
        </strong>
        <small style="margin-left: 15px;">{{timeAgo this.createdAt}}</small>
        <p>{{this.comment}}</p>
        {{#if this.img}}
          <img src="{{this.img}}" style="object-fit: contain; width: 100%;">
        {{/if}}
      </div>
    {{/each}}
  </div>

{{/if}}
      
      <!-- BOTÓN RESPONDER -->
  <button class="replyBtn" onclick="toggleReply('{{this._id}}', this)">
    Responder
  </button>




    </div>
    
      <!-- FORM RESPUESTA -->
  <form action="/comment" method="POST" class="replyForm py-3 px-3" id="reply-{{this._id}}" style="display:none;">
    <input type="hidden" name="parentId" value="{{this._id}}">
    <input type="text" name="name" placeholder="Nombre">
    <div class="txtGp">
      <textarea class="rplCom" name="comment" placeholder="Respuesta"></textarea>
      <button inert style="color: #fff; opacity: .5;" type="submit"><b>Enviar</b> </button>
    </div>
  </form>
    
    <br>
  {{/each}}

  {{#if commentsAll.length}}
    <a id="showAllBtn" class="sendCommentBtn poppinsLabel" style="display: block; border: none; background: none; color: #a07cfa; text-align: center; text-decoration: none;">Mostrar todos los comentarios</a>
  {{/if}}
</div>
<div class="allComments" id="allComments" style="display:none">
  {{#each commentsAll}}
    <div class="comment" style="padding: 15px;">
      <img src="{{this.photo}}" width="50" style="aspect-ratio:1/1;border-radius:50%;object-fit:cover;">
      <strong style="padding: 15px;">
        {{this.name}}
        {{{devBadge this.itsAFraudbaniDev}}}
      </strong>
      <small>{{timeAgo this.createdAt}}</small>
      <p style="padding: 10px;">{{this.comment}}</p>
      <span class="poppinsBalance" style="padding: 10px;"><i class="bi bi-star-fill"></i> {{this.rating}}</span>
      

      
        <!-- RESPUESTAS -->
{{#if this.replies.length}}

  <!-- BOTÓN -->
  <button 
    class="toggleRepliesBtn replyBtn" 
    onclick="toggleReplies('{{this._id}}', this)"
    style="margin-top:10px;"
  >
    Ver respuestas ({{this.replies.length}})
  </button>

  <!-- CONTENEDOR RESPUESTAS -->
  <div class="replies" id="replies-{{this._id}}" style="display:none;">
    {{#each this.replies}}
      <div class="reply">
        <strong>
          {{this.name}}
          {{{devBadge this.itsAFraudbaniDev}}}
        </strong>
        <small style="margin-left: 15px;">{{timeAgo this.createdAt}}</small>
        <p>{{this.comment}}</p>
      </div>
    {{/each}}
  </div>

{{/if}}
      
      <!-- BOTÓN RESPONDER -->
  <button class="replyBtn" onclick="toggleReply('{{this._id}}', this)">
    Responder
  </button>




    </div>
    
      <!-- FORM RESPUESTA -->
  <form action="/comment" method="POST" class="replyForm py-3 px-3" id="reply-{{this._id}}" style="display:none;">
    <input type="hidden" name="parentId" value="{{this._id}}">
    <input type="text" name="name" placeholder="Nombre">
    <div class="txtGp">
      <textarea class="rplCom" name="comment" placeholder="Respuesta"></textarea>
      <button inert style="color: #fff; opacity: .5;" type="submit"><b>Enviar</b> </button>
    </div>
  </form>
    <br>
  {{/each}}
</div>
          
        </div>
        
      </div>
      
      <div class="mainPC">
        <h1 style="color: #fff;">¡NO disponible en PC! :c</h1>
      </div>
      <script>
        
        let openedForm = null
let openedBtn = null

function toggleReply(id, btn) {
  const form = document.getElementById('reply-' + id)

  if (openedForm && openedForm !== form) {
    openedForm.style.display = 'none'
    if (openedBtn) openedBtn.textContent = 'Responder'
  }

  if (form.style.display === 'none') {
    form.style.display = 'block'
    btn.textContent = 'Cancelar'
    openedForm = form
    openedBtn = btn
  } else {
    form.style.display = 'none'
    btn.textContent = 'Responder'
    openedForm = null
    openedBtn = null
  }
}
        
        document.querySelectorAll('form[id^="reply-"]').forEach(form => {
  form.addEventListener('submit', (e) => {
    const textarea = form.querySelector('textarea')

    if (!textarea.value || textarea.value.length < 3) {
      e.preventDefault()
      textarea.style.borderBottom = '1px solid #F434AA'
    }
  })
})
        
        let openedReplies = null

function toggleReplies(id, btn) {
  const currentBox = document.getElementById('replies-' + id)

  if (openedReplies && openedReplies !== currentBox) {
    openedReplies.style.display = 'none'

    const prevBtn = document.querySelector(
      `[onclick*="${openedReplies.id.replace('replies-', '')}"]`
    )

    if (prevBtn) {
      const count = openedReplies.children.length
      prevBtn.textContent = `Ver respuestas (${count})`
    }
  }

  if (currentBox.style.display === 'none') {
    currentBox.style.display = 'block'
    btn.textContent = 'Ocultar respuestas'
    openedReplies = currentBox
  } else {
    currentBox.style.display = 'none'
    btn.textContent = `Ver respuestas (${currentBox.children.length})`
    openedReplies = null
  }
}
      </script>