  <div class="main">
    <div class="lista" style="margin-top: 80px;">
        <h6 class="text-center text-uppercase py-3">Listado</h6>
        {{#if users}}
        <div class="tbCont" style="width: 100%">
          <p><b>Total: </b>{{total}}</p>
            <table class="table text-center tabla" style="font-size: .7rem; width: 90%;">
                <thead>
                    <tr>
                      {{#if showNameColumn}}
                        <th scope="col">Nombre</th>
                      {{/if}}
                        <th scope="col">Número</th>
                       <!-- <th scope="col">Lugar</th>-->
                        <th scope="col">Balance</th>
                        <th scope="col">Ver</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                        <tr>
                          {{#if names}}
                            <td>{{names}}</td>
                          {{/if}}
                          {{#if phone}}
                            <td>{{phone}}</td>
                          {{/if}}
                          {{#if main_phone}}
                            <td>{{main_phone}}</td>
                          {{/if}}
                         <!--   <td>{{resDir}}</td>-->
                            <td>${{balancePesos}}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-success disabled" href="/vacantes/{{ ../collection }}/view/{{_id}}"><i class="bi bi-eye"></i></a>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr class="text-center">
                        <td colspan="4">REGISTRO DE DATOS</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        {{else}}
            <div class="card text-center mx-auto" style="width: 350px">
                <div class="card-header">
                    <h3>Sin vacantes</h3>
                </div>
                <div class="card-body">
                    <p>En este momento no hay vacantes disponibles, vuelve pronto...</p>
                    <a href="/" class="btn btn-primary">Ir al inicio</a>
                </div>
            </div>
        {{/if}}
    </div>
  </div>